.input-container {
    display: flex;
    padding-bottom: 15px;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;

    .input-left,
    .input-right {
        display: flex;
        gap: 10px;
    }

    input {
        height: 36px;
        padding: 0px 18px;
        width: 280px;
        background-color: fff;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        outline: none;
        border: 1px solid rgb(241, 241, 236);
    }

    button {
        height: 36px;
        padding: 0px 20px;
        border: none;
        opacity: none;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
    }

    .btn-search {
        background-color: #5252d4;
        color: #fff;
        font-weight: 500;
    }

    .btn-clear {
        background-color: rgb(236, 226, 226);
        font-weight: 500;
    }
}