@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 400;
    font-size: 16px;

    &::-webkit-scrollbar {
        width: 0 !important;
    }
}

.admin-content::-webkit-scrollbar {
    width: 0px !important;
}

.content {
    height: calc(100vh - 60px);
    padding: 15px 20px;
}